
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    width:900px;
    margin:0 auto;
    font-family: 'Poppins', sans-serif;
}

/* header csss */
.header-info{
    display: flex;
    background-color:#1d2827;
    padding:40px;
    border-radius: 5px;
    margin-bottom: 80px;
}
.header-title{
    font-size: 48px;
    /* color:#ffff; */
}
.header-text {
    color:#fff;
}
/* .header-text a{
    text-decoration: none;
    color:#fff;
    background-color: 
    #DD0000;
    padding:5px 10px;;
    border-radius: 5px;
    font-size: 18px;
} */
/* btn */
.container
{
  perspective: 320px;
}
.btn
{
  display: block;
  width: 150px;
  height: 40px;
  background-color: 
    #DD0000;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  transition: .3s linear;
}

.btn:hover{
  transform: rotateY(-15deg);
  box-shadow: 0 8px 15px black;
  background-color: #00a8ff;
}
.header-image:hover{
    transform: scale(1.2);
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease;
    /* transition-delay: 1s; */
}


/* section group */
.section-group{
    display: flex;
}
.side-box{
    width:200px;
    height: 200px;
    /* display: grid;
    grid-template-rows: repeat(3,1fr); */
    display: flex;
    flex-direction: column;
    background-color: #1d2827;
    margin-right: 12px;
    padding:16px;

}
.side-box button{
    margin:12px 0;
    padding:5px 12px;
    border-radius: 5px;
    
}
.upcoming-box{
    padding:5px 24px;
}
.side-box a{
    text-decoration: none;
    color: black;
}
#blog-button{
    background-color: #DD0000;
    color:white;
}
/* gallery */

.gallery{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    margin-bottom: 40px;
}
.blog-image img{
    width:100%;
}
.blog-text{
    margin: 10px;
}
.blog-text button{
    font-size: 18px;
    font-weight: 500;
}
.match-title{
    font-size: 18px;
}

.match-icons{
    font-size: 18px;
    color:rgb(73, 73, 73);
}
.match-icons span{
    margin-right: 15px;
}
.icons{
    margin-right: 10px;
}

/* show -box */
.show-box{
    text-align: center;
    display:none;
}
.show-box  button{
     
     background-color: #DD0000;
     padding:10px 20px; 
     margin-bottom: 60px;
     color:white;
     border-radius: 6px;
}
/* footer */

footer{
    text-align: center;
    background-color: #1d2827;
    padding:12px;
    color:white;
}
footer h2{
    font-size: 30px;
    /* border-bottom: 1px solid black; */
    margin-top: 18px;
    margin-bottom: 18px;
    text-transform: capitalize;
}

.footer-box span{
    margin:0px 8px;
}

.footer-icons{
    margin-top: 20px;
}
.footer-icons a{
    font-size: 20px;
    color:white;
    margin:0px 12px;
}


/* respondive design for mobile screen */
@media screen and (max-width:480px){
    .header-info{
        flex-direction: column;
         align-items: center;
         /* box-sizing: border-box; */
    }
    .header-text{
        text-align: center;
        width:50%;
    }
    .section-group{
        flex-direction: column;
        align-items: center;
    }
    .side-box{
        background-color: #fff;
    }
    .side-box button{
        padding:5px 12px;
    }
    .gallery{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-box{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       gap:10px;
       width:100%;
    }
}


/*for tablet view */

@media screen and (min-width:481px) and (max-width:768px) {

    .section-group{
        flex-direction: column;
        align-items: center;
    }
    .side-box{
        background-color: #fff;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:40px;
        height:60px;
        
    }
    .side-box button{
        display: inline;
    }
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }

    .show-box{
        display: block;
    }
    /* .footer-box span{
        display: flexbox;
         flex-wrap: wrap;
    } */
}